/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
*/

:root {
  /* ### Primary */

  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

.card-container {
  /* background-color: var(--Dark-desaturated-blue); */
  max-width: 375px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 55%;
}

.img-container {
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-container img {
  width: 100%;
}

.text-container {
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.title-container {
  grid-row-start: 1;
}

.description-container {
  grid-row-start: 2;
  background-color: rosybrown;
}

.counters-container {
  grid-row-start: 3;
}
